# .gitignore

# IDE и редакторы
.idea/
.vscode/

# Файлы настроек
local_settings.py
*.sqlite3
db.sqlite3

# Статические файлы
media/

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Файлы отладки
*.log
*.swp

venv/"venv/" 
